@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@font-face {
  font-family: vazir-matn;
  src: url('../assets/fonts/Vazirmatn-Black.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: vazir-matn;
  src: url('../assets/fonts/Vazirmatn-ExtraBold.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: vazir-matn;
  src: url('../assets/fonts/Vazirmatn-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: vazir-adad;
  src: url('../assets/fonts/Vazirmatn-RD-FD-Bold.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}